.alphabetColor{
    /* [S] Black - Aura Indigo */


background: #FFFFFF;
width: 150px; height: 150px; border-radius: 1000px; object-fit: cover;
border-radius: 1000px;

/* Vector */

position: relative;

background: linear-gradient(211.18deg, #FFA8D7 30.96%, #E64AFF 51.39%, #B8FBFF 90.16%);

}


.backGroundEclipse{
    position: relative;

    background: url(/src/Templattt_bg-02.png);
}
/*8b6062*/